uml2es/gradle/src/main/ml-schemas/MovieModelPhysical-0.0.1.xsd

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sem="http://marklogic.com/semantics" xmlns:es="http://marklogic.com/entity-services">
  <xs:element name="contribId" type="xs:string"/>
  <xs:element name="aliases" type="aliasesArrayType"/>
  <xs:element name="filmography" type="RoleContainerType"/>
  <xs:complexType name="RoleContainerType">
    <xs:sequence>
      <xs:element ref="Role"/>
    </xs:sequence>
    <xs:attribute name="datatype"/>
  </xs:complexType>
  <xs:complexType name="aliasesArrayType">
    <xs:simpleContent>
      <xs:extension base="aliasesSimpleType">
	<xs:attribute name="datatype"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="aliasesSimpleType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="MovieContributorType" mixed="true">
    <xs:sequence minOccurs="0">
      <xs:element ref="contribId"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="aliases"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="filmography"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MovieContributor" type="MovieContributorType"/>
  <!--XSD schemas prohibit duplicate element names. This element is commented out because it conflicts with another of the same name.
 <xs:element name="contribId" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/> 
-->
  <!--XSD schemas prohibit duplicate element names. This element is commented out because it conflicts with another of the same name.
 <xs:element name="aliases" type="aliasesArrayType" xmlns:xs="http://www.w3.org/2001/XMLSchema"/> 
-->
  <!--XSD schemas prohibit duplicate element names. This element is commented out because it conflicts with another of the same name.
 <xs:element name="filmography" type="RoleContainerType" xmlns:xs="http://www.w3.org/2001/XMLSchema"/> 
-->
  <xs:element name="corporateStuff" type="xs:string"/>
  <xs:complexType name="CompanyContributorType" mixed="true">
    <xs:sequence minOccurs="0">
      <xs:element ref="contribId"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="aliases"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="filmography"/>
      <xs:element ref="corporateStuff"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyContributor" type="CompanyContributorType"/>
  <xs:element name="authorId" type="xs:string"/>
  <xs:element name="docText" type="xs:string"/>
  <xs:element name="docType" type="xs:string"/>
  <xs:element name="docSubType" type="xs:string"/>
  <xs:element name="contribDoc" type="PersonContributorContainerType"/>
  <xs:element name="movieDoc" type="MovieContainerType"/>
  <xs:complexType name="PersonContributorContainerType">
    <xs:sequence>
      <xs:element ref="PersonContributor"/>
    </xs:sequence>
    <xs:attribute name="datatype"/>
  </xs:complexType>
  <xs:complexType name="MovieContainerType">
    <xs:sequence>
      <xs:element ref="Movie"/>
    </xs:sequence>
    <xs:attribute name="datatype"/>
  </xs:complexType>
  <xs:complexType name="UserDocumentType" mixed="true">
    <xs:sequence minOccurs="0">
      <xs:element ref="authorId"/>
      <xs:element ref="docText"/>
      <xs:element ref="docType"/>
      <xs:element minOccurs="0" ref="docSubType"/>
      <xs:element minOccurs="0" ref="contribDoc"/>
      <xs:element minOccurs="0" ref="movieDoc"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDocument" type="UserDocumentType"/>
  <xs:element name="movieId" type="xs:string"/>
  <xs:element name="seriesId" type="xs:string"/>
  <xs:element name="seriesType" type="xs:string"/>
  <xs:element name="releaseYear" type="xs:int"/>
  <xs:element name="seriesEndYear" type="xs:int"/>
  <xs:element name="countries" type="countriesArrayType"/>
  <xs:element name="languages" type="languagesArrayType"/>
  <xs:element name="genres" type="genresArrayType"/>
  <xs:element name="keywords" type="keywordsArrayType"/>
  <xs:element name="locations" type="locationsArrayType"/>
  <xs:element name="runningTime" type="xs:int"/>
  <xs:element name="imdbUserRating" type="xs:float"/>
  <xs:element name="docs" type="UserDocumentContainerType"/>
  <xs:element name="cast" type="RoleContainerType"/>
  <xs:element name="parentalCerts" type="ParentalCertificateContainerType"/>
  <xs:complexType name="UserDocumentContainerType">
    <xs:sequence>
      <xs:element ref="UserDocument"/>
    </xs:sequence>
    <xs:attribute name="datatype"/>
  </xs:complexType>
  <xs:complexType name="keywordsArrayType">
    <xs:simpleContent>
      <xs:extension base="keywordsSimpleType">
	<xs:attribute name="datatype"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="keywordsSimpleType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="ParentalCertificateContainerType">
    <xs:sequence>
      <xs:element ref="ParentalCertificate"/>
    </xs:sequence>
    <xs:attribute name="datatype"/>
  </xs:complexType>
  <xs:complexType name="countriesArrayType">
    <xs:simpleContent>
      <xs:extension base="countriesSimpleType">
	<xs:attribute name="datatype"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="countriesSimpleType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="locationsArrayType">
    <xs:simpleContent>
      <xs:extension base="locationsSimpleType">
	<xs:attribute name="datatype"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="locationsSimpleType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="languagesArrayType">
    <xs:simpleContent>
      <xs:extension base="languagesSimpleType">
	<xs:attribute name="datatype"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="languagesSimpleType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="genresArrayType">
    <xs:simpleContent>
      <xs:extension base="genresSimpleType">
	<xs:attribute name="datatype"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="genresSimpleType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="MovieType" mixed="true">
    <xs:sequence minOccurs="0">
      <xs:element ref="movieId"/>
      <xs:element minOccurs="0" ref="seriesId"/>
      <xs:element ref="seriesType"/>
      <xs:element ref="releaseYear"/>
      <xs:element minOccurs="0" ref="seriesEndYear"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="countries"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="languages"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="genres"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="keywords"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="locations"/>
      <xs:element ref="runningTime"/>
      <xs:element ref="imdbUserRating"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="docs"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cast"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="parentalCerts"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Movie" type="MovieType"/>
  <xs:element name="dateOfBirth" type="xs:date"/>
  <xs:element name="dateOfDeath" type="xs:date"/>
  <xs:element name="nicknames" type="nicknamesArrayType"/>
  <xs:element name="placeOfBirth" type="xs:string"/>
  <xs:element name="placeOfDeath" type="xs:string"/>
  <xs:element name="causeOfDeath" type="xs:string"/>
  <xs:element name="realName" type="xs:string"/>
  <xs:element name="spouses" type="xs:string"/>
  <!--XSD schemas prohibit duplicate element names. This element is commented out because it conflicts with another of the same name.
 <xs:element name="docs" type="UserDocumentContainerType" xmlns:xs="http://www.w3.org/2001/XMLSchema"/> 
-->
  <xs:complexType name="nicknamesArrayType">
    <xs:simpleContent>
      <xs:extension base="nicknamesSimpleType">
	<xs:attribute name="datatype"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="nicknamesSimpleType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="PersonContributorType" mixed="true">
    <xs:sequence minOccurs="0">
      <xs:element ref="contribId"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="aliases"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="filmography"/>
      <xs:element minOccurs="0" ref="dateOfBirth"/>
      <xs:element minOccurs="0" ref="dateOfDeath"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="nicknames"/>
      <xs:element minOccurs="0" ref="placeOfBirth"/>
      <xs:element minOccurs="0" ref="placeOfDeath"/>
      <xs:element minOccurs="0" ref="causeOfDeath"/>
      <xs:element minOccurs="0" ref="realName"/>
      <xs:element minOccurs="0" ref="spouses"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="docs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonContributor" type="PersonContributorType"/>
  <xs:element name="roleType" type="xs:string"/>
  <xs:element name="roleNames" type="roleNamesArrayType"/>
  <xs:element name="movie" type="MovieContainerType"/>
  <xs:element name="contrib" type="MovieContributorContainerType"/>
  <xs:element name="contribClass" type="xs:string"/>
  <xs:complexType name="roleNamesArrayType">
    <xs:simpleContent>
      <xs:extension base="roleNamesSimpleType">
	<xs:attribute name="datatype"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="roleNamesSimpleType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="MovieContributorContainerType">
    <xs:sequence>
      <xs:element ref="MovieContributor"/>
    </xs:sequence>
    <xs:attribute name="datatype"/>
  </xs:complexType>
  <xs:complexType name="RoleType" mixed="true">
    <xs:sequence minOccurs="0">
      <xs:element ref="roleType"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="roleNames"/>
      <xs:element ref="movie"/>
      <xs:element ref="contrib"/>
      <xs:element ref="contribClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" type="RoleType"/>
  <xs:element name="country" type="xs:string"/>
  <xs:element name="currentCertificate" type="xs:string"/>
  <xs:complexType name="ParentalCertificateType" mixed="true">
    <xs:sequence minOccurs="0">
      <xs:element ref="country"/>
      <xs:element ref="currentCertificate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParentalCertificate" type="ParentalCertificateType"/>
</xs:schema>